html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.home-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  min-width: 1280px;
}
